<!doctype html>
<html>
<head>
<title>Bottle Messages</title>
<link href="../static/bottle.PNG" rel="icon">
<link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <form id="bottle-form" method="POST">
        <fieldset>
            <h2 class="fs-title">What do you want to say?</h2>
            <textarea name="seacret" placeholder="Talk about anything!"></textarea>
            <input name="submit" type="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>
</body>
</html>