<!doctype html>
<html>
<head>
<title>Bottle Messages</title>
<link href="../static/bottle.PNG" rel="icon">
<link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <form id="thanks">
        <fieldset>
            <h2 class="fs-title">Your message is now on the sea!</h2>
            <br> 
            <br>
            <a href="/">
                <input type="button" class="submit action-button" value="Write another message!" />
            </a>
        </fieldset>
    </form>
</body>
</html>